<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to create an user</h1>
        <section>
            <form action="/usuarios/crear" method="post">
                <label for="nombre">Nombre:<input name ="nombre" type="text"></label><br><br>
                <label for="apellido">Apellido:<input name ="apellido" type="text"></label><br><br>
                <label for="cedula">Cedula:<input name ="cedula" type="number"></label><br><br>
                <label for="ciudad_id">Ciudad_id:<input name ="ciudad_id" type="number"></label><br><br>
                <label for="telefono">Telefono:<input name ="telefono" type="number"></label><br><br>
                <label for="correo">Correo:<input name ="correo" type="text"></label>
                <p><button type="submit">Agregar</button></p>
            </form>

        </section>
  </body>
</html>
