<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to delete an user</h1>
        <section>
            <form action="/usuarios/borrar/<%= usuario.id %>?_method=DELETE" method="post">
                <ul>
                    <p><%=usuario.nombre %></p>
                

                </ul>
              
                <p><button type="submit">Eliminar</button></p>
            </form>

        </section>
  </body>
</html>
